@import "tailwindcss";

@theme inline {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --font-display: var(--font-manrope);
}

/* Light mode */
html.light {
  --color-background: var(--color-background-light);
  --color-foreground: #0d141b;
}

/* Dark mode */
html.dark {
  --color-background: var(--color-background-dark);
  --color-foreground: #e5e7eb;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-display), system-ui, sans-serif;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}